@charset "utf-8";
body, html {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #003366; /* Azul oscuro */
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
}

p {
    margin: 5px 0;
}

/* Navegación */
nav {
    background-color: #003366; /* Azul oscuro */
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    background-color: #0059b3; /* Azul más claro */
}

/* Secciones */
section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    color: #003366; /* Azul oscuro */
    margin-bottom: 15px;
    font-weight: bold;
}

section form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

section form label {
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #003366; /* Azul oscuro */
}

section form input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

section form button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #003366; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

section form button:hover {
    background-color: #0059b3; /* Azul más claro */
}

section #resultadoEstudiante, section #resultadoMateria {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #003366; /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px;
    font-size: 1em;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
    }

    section {
        margin: 10px;
    }
}
